<!DOCTYPE html>
<html lang="en" dir='ltr'>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        
        <h1>Add user to this form</h1>

        <form action="/create_user" method="POST">
            <p>Name: <input type="text", name="username" /> </p>
            <p>City: <input type="text", name="city" /> </p>
            <p>Occupation: <input type="text", name="occupation" /> </p>
            <input type="submit" value="submit" />
        </form>
    </body>
</html>